/* CSS - styles.css */
body {
    background-color: #323232; /* Hintergrundfarbe der gesamten Seite */
    font-family: "Open Sans", sans-serif; /* Schriftart: Open Sans */
    color: white;
    margin: 0px;
}

table {
    border-collapse: collapse;
    width: 300px; /* Optional: Tabelle eine feste Breite geben */
    margin: 0 auto; /* Optional: Die Tabelle horizontal zentrieren */
    
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    position: relative;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    border: 5px solid white; /* Weiße border-color */
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

/* Trennlinien nur innerhalb der Tabelle (nicht außerhalb) */
table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}
